Flask==2.3.3
flask-mysqldb==2.0.0
Flask-Mail==0.9.1
Werkzeug==2.3.7
Jinja2==3.1.4
itsdangerous==2.1.2
MarkupSafe==2.1.5
python-docx==1.1.0
gunicorn==22.0.0
psycopg2-binary==2.9.9
Flask-SQLAlchemy==3.1.1
reportlab==4.2.0
